<div class="container">
  <div class="header">
    <svg style="transform: rotate(180deg);position: absolute;" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320">
      <path fill="#DC6B19" fill-opacity="1"
        d="M0,96L80,122.7C160,149,320,203,480,197.3C640,192,800,128,960,112C1120,96,1280,128,1360,144L1440,160L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
      </path>
    </svg>
    <button style=" position: relative;color: black" (click)="goToHomePage()" mat-icon-button color="primary"
      aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>
    </button>
  </div>
  <div class="list">
    <table mat-table [dataSource]="ShoppingListDatas" class="mat-elevation-z8">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Yemek Listesi</th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th style="width: 250px;" mat-header-cell *matHeaderCellDef> Malzeme Listesi </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button (click)="openToDialog(element)">Malzeme Listesi</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>