<div class="container">
    <div class="backg-img">
        <img class="backg-foto" src="./../assets/julius-9zy3GaH8NKM-unsplash-min.png" alt="">
    </div>
    <div class="logo">
        <img src="./../assets/recipe-book (1).png" alt="">
    </div>
    <div class="menu">
        <button mat-button (click)="goToLink('recipe')" color="primary">Recipe</button>
        <button mat-button (click)="goToLink('shopping-list')" color="primary">Shopping List</button>
    </div>
    <div class="title">
        <h1 class="baslik">Welcome to My Recipe Book</h1>
    </div>
</div>